.posts {
	background-color: var(--white);

	> *:nth-child(even) {
		background-color: var(--lightGray);
	}

	article > * {
		max-width: 1440px;
		margin: 0 auto;
	}
}

.loadMoreSection {
	padding: 20px 0;
	text-align: center;

	h2 {
		margin: 0;
	}

	@media (--tabletUp) {
		padding: 40px 0;
	}
}
