.posts {
	background-color: var(--white);

	> *:nth-child(even) {
		background-color: var(--lightestGray);
	}

	article > * {
		max-width: 1440px;
		margin: 0 auto;
	}
}

.header {
	width: 100%;
	position: relative;

	color: var(--white);
	background-color: var(--swatchPrimary);

	> * {
		justify-content: flex-start;
	}

	h1 {
		margin: 0;
		padding: 0.5em 20px;

		font-size: 3rem;

		@media (--tabletUp) {
			padding: 0.5em 0;
		}
	}

	svg {
		height: 1em;
		position: relative;
		top: -0.05em;
	}

	@media (--tabletUp) {
		display: flex;
		align-items: center;
	}
}

.arrow {
	height: 60px;
	padding: 0 20px;
	position: relative;
	text-align: left;

	@media (--tabletUp) {
		padding: 0 40px;
		flex-basis: calc((100% - 80px) * 0.4 + 40px);
	}
}
