.posts {
	background-color: var(--white);

	> *:nth-child(even) {
		background-color: var(--lightGray);
	}

	article > * {
		max-width: 1440px;
		margin: 0 auto;
	}
}

.header {
	width: 100%;
	padding: 20px;
	background-color: var(--swatchPrimary);
	position: relative;

	h1 {
		font-size: 3rem;
	}

	svg {
		height: 1em;
		position: relative;
		top: -0.05em;
	}

	> * {
		margin: 0 auto;
		position: relative;

		color: var(--white);

		@media (--tabletUp) {
			left: calc((100% - 80px) * 0.4 + 40px);
		}
	}
}

.arrow {
	position: absolute;
	top: 50%;
	left: 40px;

	transform: translateY(-50%);
}
