.root {
	width: 53px;
	height: 28px;
	margin-right: 2px;
	display: inline-block;

	position: relative;
	top: 3px;

	&:hover .arrow:before {
		width: 53px;
	}
}

.arrowWrapper {
	width: 0;
	height: 100%;
	display: block;
	position: absolute;
	top: 50%;
	left: 0;

	overflow: hidden;

	transform: translateY(-50%);
	transition: width 0.3s ease;

	.root:hover & {
		width: 100%;
	}
}

.arrow {
	width: 50px;
	height: 4px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0;

	background-color: var(--darkGray);

	transform: translateY(-50%);

	&:after {
		width: 20px;
		height: 20px;
		position: absolute;
		top: -8px;
		right: 2px;

		border-right: 4px solid var(--darkGray);
		border-top: 4px solid var(--darkGray);

		content: "";

		transform: rotate(45deg);
	}

	.dark & {
		background-color: var(--white);

		&:after {
			border-color: var(--white);
		}
	}

	.left & {
		left: 3px;

		transform: translateY(-50%) rotate(180deg);
	}
}

.overlay {
	z-index: 1;
	background-color: var(--swatchPrimary);

	&:after {
		border-right: 4px solid var(--swatchPrimary);
		border-top: 4px solid var(--swatchPrimary);
	}

	.dark & {
		background-color: var(--swatchPrimaryHighlight);

		&:after {
			border-color: var(--swatchPrimaryHighlight);
		}
	}
}
