.root {
	width: 53px;
	height: 28px;
	margin-right: 2px;
	display: inline-block;

	&:hover .arrow:before {
		width: 53px;
	}
}

.arrow {
	width: 50px;
	height: 4px;
	display: inline-block;
	position: relative;
	background-color: var(--darkGray);

	&:after {
		width: 20px;
		height: 20px;
		position: absolute;
		top: -8px;
		right: 2px;

		border-right: 4px solid var(--darkGray);
		border-top: 4px solid var(--darkGray);

		content: "";

		transform: rotate(45deg);
	}

	&:before {
		width: 0;
		height: 32px;
		position: absolute;
		left: 0;
		z-index: 1;

		background-color: var(--swatchPrimary);
		mix-blend-mode: lighten;

		content: "";

		transform: translateY(-50%);

		transition: width 0.2s ease;
	}
}
