.root {
	width: 100%;
	padding: 20px;

	color: var(--white);
	background-color: var(--swatchPrimary);

	text-align: center;

	> * + * {
		margin-top: 10px;
	}

	h2 {
		font-size: 2rem;
		font-weight: 300;

		opacity: 0.7;
	}

	img {
		width: 120px;

		border: 1px solid var(--white);
		border-radius: 100%;
	}

	@media (--tabletUp) {
		padding: 60px 20px;
	}
}
