.articleSection,
.shareSection,
.commentsSection {
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	position: relative;

	@media (--tabletUp) {
		padding: 60px 40px;
	}
}

.articleSection {
	padding-top: 60px;

	position: relative;

	article {
		@media (--tabletUp) {
			max-width: 600px;
			width: 80%;
		}

		@media (--desktopBig) {
			width: 50%;
		}
	}

	@media (--tabletUp) {
		display: flex;
		margin-top: 0;
	}
}

.meta {
	time > * {
		& + * {
			margin-left: 0.5em;
		}

		@media (--tabletUp) {
			display: block;

			& + * {
				margin-left: 0;
			}
		}
	}

	@media (--tabletUp) {
		width: 20%;
		padding-right: 20px;
		text-align: right;

		position: relative;
		top: 0.4em;

		> * + * {
			margin-top: 0.5em;
		}

		.tags {
			max-width: 200px;
			float: right;
		}
	}

	@media (--desktopBig) {
		width: 40%;
		padding-right: 40px;
	}
}

.title {
	font-size: 4.8rem;

	&:after {
		width: 10%;
		height: 3px;
		margin: 20px 0;
		display: block;
		background-color: var(--swatchPrimary);

		content: "";
	}
}

.shareSection {
	width: 100%;
	max-width: initial;

	padding: 20px;

	background-color: var(--lightGray);

	text-align: center;
	font-size: 3.6rem;
	font-weight: 900;

	button {
		display: inline;
		position: relative;

		&:before,
		&:after {
			width: 100%;
			height: 3px;
			display: inline-block;
			position: absolute;
			bottom: -5px;
			left: 0.15em;

			background-color: var(--swatchPrimary);

			content: "";
		}

		&:after {
			width: 0;
			background-color: var(--darkGray);

			transition: width 0.2s ease;
		}

		&:hover:after {
			width: 100%;
		}

		svg {
			max-width: 0.8em;
			height: 0.8em;
			margin-left: 0.3em;

			position: relative;
			bottom: 0.1em;
		}
	}

	@media (--tabletUp) {
		padding: 40px 0;
	}
}

.fixedShare,
.nav .arrow {
	left: 20px;

	padding-right: 20px;
	text-align: right;

	@media (--tabletUp) {
		width: calc((100% - 80px) * 0.2);
		left: 40px;
	}

	@media (--desktopBig) {
		width: calc((100% - 80px) * 0.4);

		padding-right: 40px;
	}
}

.fixedShare {
	display: none;
	position: fixed;
	bottom: 20px;

	white-space: nowrap;


	.shareLinks {
		> * + * {
			margin-left: 0.5em;
		}

		button {
			svg {
				max-width: 1.1em;
				height: 1em;

				opacity: 1;
				transform: scale(1.00001);

				transition: opacity, transform 0.2s ease;

			}

			&:hover svg {
				opacity: 0.5;
				transform: scale(1.1);
			}
		}
	}

	&.stop {
		position: absolute;
		bottom: 64px;
	}

	@media (--tabletUp) {
		display: block;
	}
}

.nav {
	width: 100%;
	height: 60px;
	position: fixed;
	z-index: 1;

	background-color: var(--white);

	.arrow {
		display: inline-block;
		position: relative;
		top: 50%;

		transform: translateY(-50%);
	}
}
